<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>

<div class="about-me">
    <h3 class="title">Ceo of Ring Ring</h3>
    <h4 class="name">Patrick Ho</h4>
    <h4 class="pronouns">He / Him</h4>
    
    <div class="container text-left display-7 text-left border border-4 red" >
        <div class="row">
        <div class="col">
            <h3>Some Fun Facts about Patrick:</h3>
            <ul>
                <li> <span> Wants to study in computer science but has trouble learning</span></li>
                <li><span> something</span></li>
                
                
              </ul>
          
            </div>
    </div>
    </div>
    
{% endblock %}