<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>

<div class="about-me">
    <h3 class="title">Ceo of Ring Ring</h3>
    <h4 class="name">Patrick Ho</h4>
    <h4 class="pronouns">He / Him</h4>
    <h3>Some Fun Facts about Patrick:</h3>
    <ul>
      <li><span class="fact">Wish:</span> <span class="value">To sleep in all day long</span></li>
      <li><span class="fact">Schedule:</span> <span class="value">Looks like waiting all day while having time to sleep</span></li>
      <li><span class="fact">Minor:</span> <span class="value">4 cost units TFT</span></li>
    </ul>
{% endblock %}